.skills-info {
    margin-top: 2rem;
}
.skill-icons {
    width: auto;
    height: 2rem;
    margin-bottom: 0;
    margin: 0rem 0.5rem;
}

.skills-container {
    display: flex;
    width: 100%;
    padding: 1rem 1rem 2rem 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;
}

@media only screen and (min-width: 800px) {
    .skills-container {
        justify-content: center;
    }
    .skills-extra-info {
        width: 60%!important;
    }
}

.skills-title {
    width: 90%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
}

.skills-extra-info {
    height: auto;
    background-color: #ccd5ae;
    white-space: pre-wrap;
    width: 100%;
}

.skills-text {
    padding-left: 0.5rem;
    text-align: left;
    line-height: 2;
}