.skills-info {
    margin-top: 2rem;
}
.skill-icons {
    width: auto;
    height: 2rem;
    margin-bottom: 0;
    margin: 0rem 0.5rem;
    cursor: pointer;
}

.skills-container {
    display: flex;
    width: 100%;
    padding: 1rem 1rem 2rem 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;
}

@media only screen and (min-width: 800px) {
    .skills-container {
        justify-content: center;
    }
    .skills-extra-info {
        width: 60%!important;
    }
}

.skills-title {
    width: 90%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
}

.skills-extra-info {
    height: auto;
    background-color: #ccd5ae;
    white-space: pre-wrap;
    width: 100%;
}

.skills-text {
    padding-left: 0.5rem;
    font-size: 1rem;
    text-align: left;
    line-height: 2;
}

.skills-container img:hover {
    transform:translateY(-7px);
}
.skills-container img {
    transition: transform 0.3s ease-in-out;
    animation: materialize;
    animation-duration: 0.3s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;
}
.skills-container img:nth-child(1) {
    animation: materialize;
    animation-delay: 0.1s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}
.skills-container img:nth-child(2) {
    animation: materialize;
    animation-timing-function: ease-in;
    animation-delay: 0.2s;
    animation-duration: 0.3s;
    animation-fill-mode: backwards;
}
.skills-container img:nth-child(3) {
    animation: materialize;
    animation-delay: 0.3s;
    animation-duration: 0.3s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;
}
.skills-container img:nth-child(4) {
    animation: materialize;
    animation-delay: 0.4s;
    animation-duration: 0.3s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;
}
.skills-container img:nth-child(5) {
    animation: materialize;
    animation-delay: 0.5s;
    animation-duration: 0.3s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;
}
.skills-container img:nth-child(6) {
    animation: materialize;
    animation-delay: 0.6s;
    animation-duration: 0.3s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;
}
.skills-container img:nth-child(7) {
    animation: materialize;
    animation-delay: 0.7s;
    animation-duration: 0.3s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;
}
.skills-container img:nth-child(8) {
    animation: materialize;
    animation-delay: 0.8s;
    animation-duration: 0.3s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;
}

@keyframes materialize {
    from {
        opacity: 0;
        transform: translateY(-10px);
               
      }
      
      to {
        opacity: 1;
        transform: translateY(0px);
      }

}
