.skills-title {
    width: 90%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

.skills-info {
    margin-top: 2rem;
}

.active-skill {
    width: auto;
    height: 3rem;
    margin-bottom: 0;
    margin: 0rem 0.5rem;
    cursor: pointer;
}

.skill-icons {
    width: auto;
    height: 2rem;
    margin-bottom: 0;
    margin: 0rem 0.5rem;
    cursor: pointer;
}

.skills-container {
    display: flex;
    width: 100%;
    padding: 0.4rem 2rem 1.4rem 2rem;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.skills-extra-info {
    background-color: var(--secondary);
    /* this allows for new lines in a text string */
    white-space: pre-wrap;
    width: 95%;
    border-radius: 5px;
}

@media only screen and (min-width: 800px) {
    .skills-container {
        justify-content: center;
    }
    .skills-extra-info {
        width: 60%!important;
    }
}
/* Animations for page */

.wipe {
    animation: wipedown ease-in-out 0.5s backwards;
    animation-delay: 1s;
    transform-origin: top;
}

.skills-text {
    padding-left: 0.5rem;
    font-size: 1rem;
    text-align: left;
    line-height: 2;
    opacity: 0;
}


.text-appear {
    animation: materialize ease-in 0.3s forwards;
    animation-delay: 1.5s;

}
.text-appear-2 {
    animation: materialize ease-in 0.3s forwards;
    animation-delay: 0.5s;

}
.skills-container img:hover {
    transform:translateY(-7px);
}
.skills-container img {
    transition: transform 0.3s ease-in-out;
    animation: materialize ease-in 0.3s backwards;

}
.skills-container img:nth-child(1) {
    animation: materialize ease-in 0.3s backwards;
    animation-delay: 0.1s;
}
.skills-container img:nth-child(2) {
    animation: materialize ease-in 0.3s backwards;
    animation-delay: 0.2s;
 
}
.skills-container img:nth-child(3) {
    animation: materialize ease-in 0.3s backwards;
    animation-delay: 0.3s;
    
}
.skills-container img:nth-child(4) {
    animation: materialize ease-in 0.3s backwards;
    animation-delay: 0.4s;

}
.skills-container img:nth-child(5) {
    animation: materialize ease-in 0.3s backwards;
    animation-delay: 0.5s;
    
}
.skills-container img:nth-child(6) {
    animation: materialize ease-in 0.3s backwards;
    animation-delay: 0.6s;
}
.skills-container img:nth-child(7) {
    animation: materialize ease-in 0.3s backwards;
    animation-delay: 0.7s;
    
}
.skills-container img:nth-child(8) {
    animation: materialize ease-in 0.3s backwards;
    animation-delay: 0.8s;
    
}
.skills-container img:nth-child(9) {
    animation: materialize ease-in 0.3s backwards;
    animation-delay: 0.9s;
    
}

@keyframes materialize {
    from {
        opacity: 0;
        transform: translateY(-5px);
               
      }
      
      to {
        opacity: 1;
        transform: translateY(0px);
      }

}

@keyframes wipedown {
    from {
        
       transform: scaleY(0);
        
    }
    to {
        transform: scaleY(1);
        
    }
}

