.footer {
    background-color: var(--third);
    margin-top: 2rem;
}
.footer img {
    margin: 1rem 0.5rem 1rem 0;
    width: 1.15rem;
    cursor: pointer;
}

.footer p {
    font-size: 0.85rem;
    margin: 0 0.5rem 0 0;
    
}

@media only screen and (max-width: 800px) {
    .footer img {
        width: 1.8rem;
        
    }
}

