:root {
  --main-bg: #F6F8FE;
  --secondary: rgb(53, 53, 53);
  --third: #7055E7;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:var(--main-bg)!important;
  font-family: "Lora", sans-serif!important;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
