:root {
  --main-bg: #fae9c8;
  --secondary: #50585e;
  --third: #cc5713;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:var(--main-bg)!important;
  font-family: "Lora", sans-serif!important;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:focus {
  text-decoration: none!important;
  color: black!important;
}

